@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}
<div>
<h3 class="para">Overview</h3>
<div class="paragraph">
    <p>
         <b> NII</b> is a leading Vietnamese shipping company providing point-to-point transportation solutions.
         It has multi purpose and liner services with an integrated network of owned offices throughout 
         Vietnamese and places strong emphasis on safety, quality and customer.
    </p>
    <p>
        NII has grown and become a household name in Vietnamese shipping. 
        Currently NII is engaged in several sectors of shipping/ and transportation. 
    </p>
    <p> 
        Ship Owning and Ship Operating Services: Provides full container services including a direct service from Vietnam to global.
        NII container liner services cover an extensive shipping service network between Vietnam’s major ports.
    </p>
    <p>
        <b>Logistics Solution and Freight Forwarding Service.</b> Covers both domestic and international shipment s worldwide. 
        It provides logistics consolidation and warehouse services for major Vietnam mining companies and project cargo handling for the oil and gas industry. 
    </p>
    <p>
        <b>Regional Multipurpose Liner Service.</b> Provides project cargo transportation throughout the Far East, 
        South East Asia and North-Western Australia.
    </p>
    <p>
        <b>Agency.</b> Provides commercial and port agency in Vietnam ports, with a network of owned agency offices throughout Vietnam.
    </p>
</div>
</div>