@{
    ViewBag.Title = "About2";
    Layout = "~/Views/Shared/_Layout_4.cshtml";
}

<div>
<h3 class="para">Quality, Safety and Environmental Management Policy</h3>
<div class="paragraph" >
    <p><b>A. Quality, Safety and Environmental Management Policy</b></p>
    <p>
         NII concerns to improve quality service to fulfill customer satisfaction.
         Our value is customer satisfaction create our high performance & productive company.
         NII consistently implements Quality Management System Standards (ISO 9001:2000).
         NII Quality Policy is Smart and Reliability Shipping Company.
         Smart shipping company to provide service with reliable resources.
    </p>
    <p>
        NII operates a sea transportation service and effectively and consistently applies its 
        Safety Management System and Environmental Protection (SMSEP) as a commitment and guarantee 
        that NII's quality ensures that it is capable of operating its ships and emphasizing 
        shipboard safety; the safety of life, the prevention of accidents and the prevention of environmental pollution; 
        and by applying such safety standards with discipline and seriousness.
    </p>
    <p> 
        NII has laid down its SMSEP in accordance with the International Safety Management Code (ISM Code) in order that
        it may operate its fleets safely and securely while safeguarding environmental pollution prevention. 
        Its SMSEP System is laid down in its guidance manuals and has been implemented in all working units,
        both in the offices of NII and its ships.
    </p>
    <p>
        NII takes full responsibility for applying the SMSEP and guarantees that the personnel involved in it, both on land and onboard ships have been trained and educated to carry out their work, in accordance with their responsibilities and authority, and always in compliance with the SMSEP Policy's procedures.
    </p>
    <p>
        NII has appointed a Designated Person Ashore (DPA) to whom it entrusts the responsibility and authority to monitor and maintain the SMSEP Policy. The DPA will maintain the integrity of the SMSEP Policy's directives.
    </p>
    <p>
        NII SMSEP Policy is binding. All working units (office and ship) and human resources of NII are obliged to obey this directive and are responsible for implementing the policy to the full.
    </p>
    <p>
        Specifically for waste oil pollution handling, NII has been strictly bounded by Shipboard Oil Pollution Emergency Plan (SOPEP) regulation and procedure that is endorsed by Seacom (Sea Communication) as administrator for Vietnamese vessels.
    </p>

    <p><b>B. Specific Policies</b></p>
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2">
            B.1. Ship's Crew
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <p>
                The vessel will be manned wholly by crew of Vietnamese nationality. Senior staff will be proficient in the English language.
            </p>
            <p>
                Key crew members - masters and mates - are recruited with previous container vessel service experience, and the engineer officers are well experienced in the vessel's engine / machinery types. Officers and ratings will be assigned from NII fleet and will be selected based on good service records and the right attitude for the job.
            </p>
            <p>
                Officers and ratings will hold the required government / international certification and will have attended all required safety and training courses. Refresher courses and additional training will be arranged whenever necessary during the crew's leave periods.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2">
            B.2. Technical Support 
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
          <div class="accordion-inner">
            <p>
                Technical support and back-up to ensure that our Fleet is running well is provided by NII's technical (fleet) division in Ho Chi Minh City under its Fleet Director. Each vessel will be assigned to a Fleet Manager and his superintendent.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" >
            B.3. Maintenance and Repair 
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse in">
          <div class="accordion-inner">
            <p>
                Maintenance of the vessel, its hull and equipment will be in accordance with customary seaman-like practices as outlined in the company's procedure manuals, extracts from which are appended to this statement.
            </p>
            <p>
                The vessel's machinery is be maintained strictly in accordance with makers' guidelines and schedules. Routine day to day maintenance will be carried out by ship's crew without delay to the ship. Periodic maintenance / overhaul will, in the first place be scheduled for the one-day-per month maintenance allowance, always in coordination with Charterers. NII superintendents will be available to attend overhauls and carry out routine inspections as often as are required, and assistance from maker's service engineers will be available.
            </p>
            <p>
                Main engine makers recommend a thorough engine overhaul after 4,000 running hours and major overhauls after 10,000 hours - which translate into dry dock requirement around every 18 months and 41 months.
            </p>
            <p>
                It is intended that such major overhauls be carried out, under the supervision of service representatives, before the vessel enters Charterers' service. Class and flag surveys and certification will similarly be brought up to date during this pre-service overhaul period. In consultation with the client we will determine the voyage and dry dock planning.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2">
            B.4. Marine Safety And Security 
          </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse in">
          <div class="accordion-inner">
            <p>
                NII has already implemented a "quality, safety and environmental protection system" throughout its fleet.
            </p>
            <p><b> Environmental Protection </b><br />
                Owners' environmental protection plan is incorporated within its safety and environmental protection system and addresses water and air pollution prevention. Specifically for waste oil pollution handling, NII has been strictly controlled by the Shipboard Oil Pollution Emergency Plan (SOPEP) regulations and procedures that are endorsed by Seacom (Sea Communication Department of the Vietnam Government). 
            </p>
            <p><b>Safety and Loss Control Program </b><br />
                Safety, loss prevention, health, and training programs are incorporated within the ISM safety systems. These programs will be adapted to suit the Client's operations and to meet the Client's requirements and training programs. 
            </p>
            <p><b>Safety Representation / Reporting Requirements / Reviews</b><br />
                
                NII has delegated personnel who are responsible for the supervision and review of safety and environmental matters including the reporting and review of any accidents or injuries and be fully available to liaise with Clients and attend meetings as required.
            </p>
          </div>
        </div>
      </div>
    </div>
    
    
</div>
</div>