@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}
    <div class="contact">                
        <h4 style="font-size:24px; font-weight:600; text-align:center; padding-bottom:15px">Contact Us</h4>
        <h3 class="para">NII Logistics and Trading Company Limited</h3>
        
        <p><b>Address:</b> No.12, 27th Street, Binh An Ward, District 2	 Ho Chi Minh City	 Viet Nam</p>
        <p><b>Email: </b><a href=""> info@nii.com.vn</a></p>
        <p><b>Telephone:</b> (84 8) 3 740 2081 - (84 8) 3 740 2082</p>
        <p><b>Fax:</b> (84 8) 3 740 2080</p>
        <a href="">http://nii.com.vn</a>
    </div>
    <h4 style="color:blue;font-size:20px; font-weight:600;">Your message was sent successfully !! We will contact you as soon as possible.</h4>
   