@{
    ViewBag.Title = "AgencyBusiness";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<div class="services">
    <h2>Agency Business</h2>
    <div class="paragraph">
        <p>Our agency service is managed by competent and experienced teams offering ships husbandry, customs business, crew change services, ship stores, spares and victualing services. Our agency services can bunker supplies – all grades of oils and lubricating oils. Other specialized agency services can be arranged as requested by principals. </p>
        <p>Our agency customer lists include some outstanding names in the industries, including multinational mining companies, international major oil and gas companies, foreign naval vessels, international offshore/salvage/rescue provider, heavy-lift / project cargo vessels operators, and deep sea survey vessel operators. </p>
        <p>Please click here to contact us for further assistance and/or inquiry.</p>
    </div>
</div>