@{
    ViewBag.Title = "CustomsBrokerage";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<div class="services">
    <h2>Customs Brokerage</h2>
    <div class="paragraph">
        <p>Customs clearance has always been a complex ingredient of international shipping. Tariffs, codes, licenses, valuation, etc., make navigating the process an intricate experience.</p>   
        <p>Customers benefit directly from the local knowledge of our experienced, trained professionals. We cover customs clearance at all major ports of entry and maintain a full compliance approach to reduce cargo delay. Our proven track record of successful customs clearance of complex shipments lends credibility to our profound understanding of the local policies and procedures. While the competition is searching for solutions, we’re clearing your goods!</p>
        <h4>Services Include</h4>
        <ul>
            <li><i class="icon-hand-right"></i>Management of imports and exports via land, sea and air</li>
            <li><i class="icon-hand-right"></i>Full Compliance Management to Reduce Cargo Delay</li>
            <li><i class="icon-hand-right"></i>Experience With Complex Shipments</li>
            <li><i class="icon-hand-right"></i>Proven Record of Successful Dispute Resolutions</li>
            <li><i class="icon-hand-right"></i>Duty & Tax Calculation</li>
            <li><i class="icon-hand-right"></i>Complete Documentation Management</li>
            <li><i class="icon-hand-right"></i>Import License Assistance</li>
            <li><i class="icon-hand-right"></i>Duty Drawback & Tax Exemption Assistance</li>
            <li><i class="icon-hand-right"></i>Commodity/Process Consultation</li>
        </ul>
    </div>
</div>