@{
    ViewBag.Title = "FreightTransportation";
    Layout = "~/Views/Shared/_Layout_4.cshtml";
}

<div class="services">
    <h2>Freight Transportation</h2>
    <div class="paragraph">
        <p>Reliability is expected in today’s global market. That is why NII Co. creates tailored solutions that result in trusted and reliable forwarding transportation around the world.</p>   
        <p>NII Co. is a leading provider of air, ocean and inland transportation forwarding services. We recognize that the fastest shipping method isn’t always the most efficient. That is why our industry knowledgeable professionals work hand-in-hand with customers to ensure the specific requirements of each shipment are combined to create a tailored solution resulting in efficient, safe and cost-effective freight transportation.</p>
        <p>Our global network of agent relationships provides further reach for our service quality and allows customers a comfortable sense of understanding that the quality experienced with NII Co. is the same quality we demand in our partner relationships throughout the world.</p>
        
        <h1>OCEAN FREIGHT</h1>
        <p>Ocean freight is an integral part of global trade. Our comprehensive ocean freight solutions are backed by the experience of local teams of ocean freight specialists staffed throughout our network of offices near major seaports throughout Vietnam.</p>
        <p>As an added benefit for NII Co. customers, our trusted port-to-door and door-to-port container transportation service ensures the transportation of your goods is a priority and remains under our quality control.</p>
        
        <h4>Services Include</h4>
        <ul>
            <li><i class="icon-hand-right"></i>LCL and FCL</li>
            <li><i class="icon-hand-right"></i>Breakbulk</li>
            <li><i class="icon-hand-right"></i>Project Cargo</li>
            <li><i class="icon-hand-right"></i>Door-to-port, Port-to-door Transportation</li>
            <li><i class="icon-hand-right"></i>Customs Clearance</li>
            <li><i class="icon-hand-right"></i>Warehousing and Distribution</li>
            <li><i class="icon-hand-right"></i>Document Management and Cargo Insurance</li>
        </ul>

        <h1>AIR FREIGHT</h1>
        <p>Ocean freight is an integral part of global trade. Our comprehensive ocean freight solutions are backed by the experience of local teams of ocean freight specialists staffed throughout our network of offices near major seaports throughout Vietnam.</p>
        <p>Our dedicated airfreight specialists create solutions for time definite shipments focusing on the flexibility, priority and speed necessary to ensure shipments arrive where and when they are needed.</p>

        <h4>Services Include</h4>
        <ul>
            <li><i class="icon-hand-right"></i>Door-to-airport and Airport-to-door Transportation</li>
            <li><i class="icon-hand-right"></i>Customs Clearance</li>
            <li><i class="icon-hand-right"></i>Document Management and Cargo Insurance</li>
            <li><i class="icon-hand-right"></i>Warehousing and Distribution</li>
        </ul>

        <h1>INLAND TRANSPORTATION</h1>
        <p>Operated as a stand-alone service and integrated in conjunction with our supply chain solutions and air or ocean transport, NII Co. provides nationwide door-to-door, port-to-door and door-to-port inland transportation. Whether shipping inland via road, rail or river, we deliver solutions that enhance and simplify your landside needs.</p>
        <h4>Services Include</h4>
        <ul>
            <li><i class="icon-hand-right"></i>Door-to-door, Door-to-port and Port-to-Door</li>
            <li><i class="icon-hand-right"></i>Road, Rail and River Transportation Solutions</li>
            <li><i class="icon-hand-right"></i>Nationwide Inland Distribution</li>
            <li><i class="icon-hand-right"></i>Customs Clearance</li>
            <li><i class="icon-hand-right"></i>Document Management and Cargo Insurance</li>
        </ul>
    </div>
</div>