@{
    ViewBag.Title = "LogisticsManagement";
    Layout = "~/Views/Shared/_Layout_3.cshtml";
}

<div class="services">
    <h2>Logistics Management</h2>
    <div class="paragraph">
        <p>Today's global market highlights the importance of an efficient supply chain. Companies are taking more meticulous, focused approaches to their supply chain management and optimizing for more resourceful working capital application and tighter inventory control.</p>   
        <p>NII Co. recognizes and understands the importance our customers place on effective logistics management and our team of professionals work diligently customizing tailored solutions to increase reliability, enhance competitive advantage and further improve bottom line results.</p>
        <p>Our solutions are uniquely designed utilizing our comprehensive forwarding, transportation, warehousing, distribution and customs brokerage services.</p>
        <h4>Additional value added services:</h4>
        <ul>
            <li><i class="icon-hand-right"></i>Consolidation</li>
            <li><i class="icon-hand-right"></i>Sequencing</li>
            <li><i class="icon-hand-right"></i>Barcode / Label Processing</li>
            <li><i class="icon-hand-right"></i>Quality Inspection</li>
            <li><i class="icon-hand-right"></i>Pick, Pack and Ship</li>
            <li><i class="icon-hand-right"></i>Warehouse Management</li>
            <li><i class="icon-hand-right"></i>Order Processing</li>
            <li><i class="icon-hand-right"></i>Inventory Management and Control</li>
            <li><i class="icon-hand-right"></i>Repackaging</li>
            <li><i class="icon-hand-right"></i>Distribution Nationwide</li>
            <li><i class="icon-hand-right"></i>Demand Forecasting</li>
            <li><i class="icon-hand-right"></i>Duty Management</li>
            <li><i class="icon-hand-right"></i>Invoicing</li>
        </ul>
    </div>
</div>